<div class="container">
  <div class="row">
    <h1>Add Product</h1>
  </div>
  <div class="row">
     <form ngNativeValidate (submit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Product Name</label>
          <input class="form-control" type="text" [(ngModel)]="name" name="name" id="name" placeholder="Name" required>
        </div>
        <div class="form-group col-md-4">
          <label for="description">Description</label>
          <input class="form-control" type="text" [(ngModel)]="description" name="description" id="Description" placeholder="description">
        </div>
        <div class="form-group col-md-4">
          <label for="size">Size</label>
          <input class="form-control" type="text" [(ngModel)]="size" name="size" id="size" placeholder="Size" required>
        </div>
      </div> 
      <div class="form-row">
            <div class="form-group col-md-4">
              <label for="image">Image</label>
              <input type="file" id="image" (change)="onChange($event)" [(ngModel)]="image" accept=".png, .jpg, .jpeg" name="image">
            </div>
        </div>
    <button class="btn btn-success" type="submit">Add Product</button>
    <h1></h1>
    <button class="btn btn-primary" routerLink="/products">Back</button>
  </form>
  </div>
 

  

</div>
