<div class="container">
  <div class="row">
    <h1>Add Product</h1>
  </div>
  <div class="row">
     <form ngNativeValidate (submit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Product Name</label>
          <input class="form-control" type="text" [(ngModel)]="name" name="name" id="name" placeholder="name" required>
        </div>
        <div class="form-group col-md-4">
          <label for="name">Description</label>
          <input class="form-control" type="text" [(ngModel)]="description" name="description" id="description" placeholder="description">
        </div>
      </div> 
      <div class="form-row">
         <div class="form-group col-md-4">
            <label for="size">Size</label>
            <input class="form-control" type="text" [(ngModel)]="size" name="size" id="size" placeholder="size" required>
          </div>
          <div class="form-group col-md-4">
              <label for="cloth">Cloth Type</label>
              <input class="form-control" type="text" [(ngModel)]="cloth" name="cloth" id="cloth" placeholder="cloth" required>
            </div> 
            <div class="form-group col-md-4">
              <label for="url">Image URL</label>
              <input class="form-control" type="text" [(ngModel)]="url" name="url" id="url">
            </div>
        </div>
    <button class="btn btn-primary" type="submit">Add Product</button>
    <h1></h1>
    <button class="btn btn-primary" routerLink="/products">Back</button>
  </form>
  </div>
 

  

</div>
