<div class="container">
  <div class="row">
      <h1 class="page-header">Clients</h1>
  </div>
  <h4>Click on a row to edit client data</h4>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Client details</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="user.Type == 'Admin'">
        <h5 class="text-muted">Created By: {{selectedClient.createdBy}} </h5>
      </div>
      <form ngNativeValidate (submit) = "onSubmit()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" [(ngModel)]="selectedClient.Name" name="name" id="name" placeholder="Name" required>
          </div>
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" [(ngModel)]="selectedClient.Email" name="email" id="email" placeholder="Email" required>
          </div>
        </div>
      
        <div class="form-row">
            <div class="form-group col-2">
                <label for="gender">Gender</label>
                <select class="form-control" [(ngModel)]="selectedClient.Gender" name="gender" id="gender" required>
                  <option value="M">M</option>
                  <option value="F">F</option>
                </select>
              </div>
      
        </div>
    <h3>Phone Numbers</h3>
        <div *ngFor="let p of phones">
          <div class="form-row">
            {{p}} <button type="button" class="btn btn-outline-primary ml-2 mb-2" (click)="onDeletePhone(p)">Delete</button>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" [(ngModel)]="phone" name="phone" id="phone">
            <button type="button" class="btn btn-outline-primary ml-2 mb-2 mt-2" (click)="onAdd()">Add Number</button>
          </div>
        </div>
      
        <div class="form-row">
          <div class="form-group col-4">
            <label for="company">Company</label>
            <input type="text" class="form-control" [(ngModel)]="selectedClient.Company" name="company" id="company" placeholder="Company" required>
          </div>
          <div class="form-group col-4">
            <label for="website">Website</label>
            <input class="form-control" type="text" [(ngModel)]="selectedClient.Website" name="website" id="website" placeholder="Website">
          </div>
        </div>
      
        
        <button type="button" class="btn btn-success mb-2" (click)="onConfirm()">Update</button>
        <div *ngIf="user.Type=='Admin'">
          <button class="btn btn-danger" (click)="confirmDelete(delete)">Delete Client</button>
        </div>
        <div *ngIf="confirm">
            <h1></h1>      
            <p>Do you want to confirm this changes?</p>
            <button type="submit" class="btn btn-success mb-2 mr-2">Yes</button>
            <button type="button" class="btn btn-danger mb-2 mr-2" (click)="unconfirm()">No</button>
          </div>
      </form> 
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary mb-2 mr-2" (click)="close()">Close</button>
    </div>
  </ng-template>

  <ng-template #delete let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Delete Client</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeDelete()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h1></h1>
      <div *ngIf="!auth0">
          <div class="row">
            <p>Please enter your password</p>
          </div>
          <div class="row">
            <div class="col-md-4">
              <input type="password" class="form-control" [(ngModel)]="adminPass" name="adminPass" id="adminPass">
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-outline-primary ml-2" (click)="authDelete()">Submit</button>
            </div>
             
          </div>
          <div *ngIf="errorMsg">
            <div class="row">
              <p> {{errorMsg}} </p>
            </div>
          </div>
        </div>
        <div *ngIf="auth0">
        <p>Are you sure you want to delete this Client? Changes cannot be undone.</p>
        <button type="button" class="btn btn-success mb-2 mr-2" (click)="onDelete()">Yes</button>
        <button type="button" class="btn btn-danger mb-2 mr-2" (click)="closeDelete()">No</button>
        </div>
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary mb-2 mr-2" (click)="closeDelete()">Close</button>
    </div>
  </ng-template>
    
  <div class="row mb-4 align-items-center">
      <div class="col-md-2">
       <h5>Search by Field </h5>
       
      </div>
      <div class="col-md-3">
        <select name="field" id="field" class="form-control" [(ngModel)]="field" (change)="clearFields()">
          <option value="" disabled>Select a Field</option>
          <option value="name">Name</option>
          <option value="gender">Gender</option>         
          <option value="email">Email</option>
          <option value="company">Company</option>
          <option value="website">Website</option>
          <option value="status">Status</option>
          <option value="date">Date</option>
        </select>
      </div>

      <div class="col-md-4">
        <div *ngIf="field == 'name'">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-search"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Search name..." [(ngModel)]="name" name="name">
          </div>
        </div>
        <div *ngIf="field == 'gender'">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Search gender..." [(ngModel)]="gender" name="gender">
            </div>
          </div>
          <div *ngIf="field == 'email'">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-search"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Search email..." [(ngModel)]="email" name="email">
              </div>
            </div>
            <div *ngIf="field == 'company'">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fas fa-search"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Search company..." [(ngModel)]="company" name="company">
                </div>
              </div>
              <div *ngIf="field == 'status'">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-search"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search status..." [(ngModel)]="status" name="status">
                  </div>
                </div>
                <div *ngIf="field == 'date'">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-search"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control" placeholder="Search date..." [(ngModel)]="date" name="date">
                    </div>
                  </div>
                  <div *ngIf="field == 'website'">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-search"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search website..." [(ngModel)]="website" name="website">
                      </div>
                    </div>
      </div>
      
    </div>

  

  <div class="row">
    <div class="table-responsive-md">
      <table class="table table-hover">
          <thead class="thead-light">
            <tr>
                <th *ngFor="let col of columns">{{col}}</th>
                <th>Register Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of clients | clientsNameFilter:name | clientsGenderFilter:gender | clientsEmailFilter:email | clientsCompanyFilter:company | clientsStatusFilter:status | clientsWebsiteFilter:website | clientsDateFilter:date | clientsCreatedByFilter:createdBy" >
                <td *ngFor="let col of columns" (click)="onClick(c, content)">{{c[col]}}</td>
                <td (click)="onClick(c, content)">{{c.createDate | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <button class="btn btn-info mt-2" (click)="downloadReport()">Download As Excel</button>
    
  <h1></h1>
  <button class="btn btn-primary" routerLink="/clients">Back</button>
</div>