<div class="container">
    <div class="row">
        <h1 class="page-header">Companies</h1>
    </div>
    <h4>Click on a row to edit company data</h4>
    <ng-template #rar let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Clients</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container center">
            <div class="row">
                <div class="table-responsive-md">
                  <table class="table table-hover">
                      <thead class="thead-light">
                        <tr>
                            <th *ngFor="let co of clientCol">{{co}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let cl of clients">
                            <td *ngFor="let co of clientCol">{{cl[co]}}</td>             
                        </tr>
                      </tbody>
                    </table>
                </div>
              </div>
          </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary mb-2 mr-2" (click)="c('Close click')">Close</button>
        </div>
      </ng-template>

      <ng-template #details let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Edit Company</h4>
            <button type="button" class="close" aria-label="Close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div *ngIf="user.Type == 'Admin'">
                  <h5 class="text-muted">Created By: {{selectedCompany.createdBy}} </h5>
                </div>
              <form ngNativeValidate (submit) = "onSubmit()">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="company">Company Name</label>
                      <input type="text" class="form-control" [(ngModel)]="selectedCompany.Company" name="company" id="company" placeholder="company" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="website">Website</label>
                      <input type="text" class="form-control" [(ngModel)]="selectedCompany.Website" name="website" id="website" placeholder="website" required>
                    </div>
                  </div>
              
                  <button type="button" class="btn btn-success mb-2" (click)="onConfirm()">Update</button>
                  <div *ngIf="user.Type=='Admin'">
                    <button class="btn btn-danger mb-2" (click)="confirmDelete(delete)">Delete Company</button>
                  </div>
                  <div *ngIf="confirm">
                      <h1></h1>      
                      <p>Do you want to confirm this changes?</p>
                      <button type="submit" class="btn btn-success mb-2 mr-2">Yes</button>
                      <button type="button" class="btn btn-danger mb-2 mr-2" (click)="unconfirm()">No</button>
                  </div>
                </form> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary mb-2 mr-2" (click)="close()">Close</button>
          </div>
        </ng-template>

        <ng-template #delete let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Delete Company</h4>
            <button type="button" class="close" aria-label="Close" (click)="closeDelete()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h1></h1>
            <div *ngIf="!auth0">
                <div class="row">
                  <p>Please enter your password</p>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <input type="password" class="form-control" [(ngModel)]="adminPass" name="adminPass" id="adminPass">
                  </div>
                  <div class="col-md-2">
                    <button type="button" class="btn btn-outline-primary ml-2" (click)="authDelete()">Submit</button>
                  </div>
                   
                </div>
                <div *ngIf="errorMsg">
                  <div class="row">
                    <p> {{errorMsg}} </p>
                  </div>
                </div>
              </div>
              <div *ngIf="auth0">
                <p>Are you sure you want to delete this Company? Changes cannot be undone.</p>
              <button type="button" class="btn btn-success mb-2 mr-2" (click)="onDelete()">Yes</button>
              <button type="button" class="btn btn-danger mb-2 mr-2" (click)="closeDelete()">No</button>
              </div>
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary mb-2 mr-2" (click)="closeDelete()">Close</button>
          </div>
        </ng-template>

        <div class="row mb-4 align-items-center">
            <div class="col-md-2">
             <h5>Search by Field </h5>
             
            </div>
            <div class="col-md-3">
              <select name="field" id="field" class="form-control" [(ngModel)]="field" (change)="clearFields()">
                <option value="" disabled>Select a Field</option>
                <option value="company">Company</option>
                <option value="website">Website</option>
              </select>
            </div>
      
            <div class="col-md-4">
                  <div *ngIf="field == 'company'">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-search"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search company..." [(ngModel)]="company" name="company">
                      </div>
                    </div>
                      <div *ngIf="field == 'website'">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fas fa-search"></i>
                                </span>
                              </div>
                              <input type="text" class="form-control" placeholder="Search website..." [(ngModel)]="website" name="website">
                            </div>
                        </div>
            </div>
            
          </div>

    <div class="row">
      <div class="table-responsive-md">
        <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                  <th *ngFor="let col of columns">{{col}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of companies | clientsCompanyFilter:company | clientsWebsiteFilter:website">
                  <td *ngFor="let col of columns"(click)="onClick(c, details)">{{c[col]}}</td>
                  <button class="btn btn-warning mb-2" (click)="searchClients(c, rar)">View Clients</button>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
      <h1></h1>
    <button class="btn btn-primary" routerLink="/clients">Back</button>
  </div>