<div class="container">
  <div class="row">
      <h1 class="page-header">Order</h1>
  </div>
  <h4>Click on a row to view order details</h4>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Edit order</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (submit) = "onSubmit()">
        <h4>Select products and quantities</h4>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="product">Product</label>
            <select class="form-control" [(ngModel)]="selectedProduct" name="product" id="product" required>
              <option *ngFor="let p of products" [ngValue]="p"> {{p.Name}}</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="status">Quantity</label>
            <input type="number" class="form-control" [(ngModel)]="quantity" name="quantity" id="quantity" placeholder="quantity" required>
        </div>
        <div class="form-group col-md-4">
          <br>
          <button class="btn btn-primary"  type="button" (click)="addProduct()">Add Product</button>
        </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="status">Status</label>
                <select class="form-control" [(ngModel)]="selectedOrder.Status" name="status" id="status" required>
                  <option value="Waiting Response">Waiting Response</option>
                  <option value="Confirmed">Confirmed</option> 
                  <option value="Production">Production</option>
                  <option value="Completed">Completed</option>
                  <option value="Denied">Denied</option>
                </select>
            </div>
          <div class="form-group col-md-4">
            <label for="price">Price</label>
            $<input type="text" class="form-control" [(ngModel)]="selectedOrder.Price" name="price" id="price" placeholder="price" required>
          </div>
          <div class="form-group col-md-4">
              <label for="observations">Observations</label>
              <input type="text" class="form-control" [(ngModel)]="selectedOrder.Observations" name="observations" id="observations" placeholder="Observations">
            </div>

        </div>
      
        
        <button type="button" (click)="onConfirm()" class="btn btn-primary">Update</button>
      
      <div *ngIf="confirm">
        <h1>Order Review</h1>
        <div *ngFor="let op of orderProducts">
          <p>Product: {{op.productName}}. Description: {{op.Description}}. Quantity: {{op.Quantity}} </p>
        </div>
        <p>Status: {{selectedOrder.Status}} </p>
        <p>Total order price: ${{selectedOrder.Price}} </p>
        <p>Observations: {{selectedOrder.Observations}} </p>
        <h1></h1>      
        <p>Do you want to confirm this changes?</p>
        <button type="submit" class="btn btn-outline-primary mb-2 mr-2">Yes</button>
        <button type="button" class="btn btn-outline-primary mb-2 mr-2" (click)="c()">No</button>
      </div>
    </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary mb-2 mr-2" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

  <ng-template #details let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Order Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div *ngFor="let o of orderDetails">
        <p>Product: {{o.Product}}. Description: {{o.Description}}. Quantity : {{o.Quantity}}</p>
      </div>
      <p>Observations: {{selectedOrder.Observations}} </p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary mb-2 mr-2" (click)="onEdit(content)">Edit</button>
        <button type="button" class="btn btn-outline-primary mb-2 mr-2" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>

  <input type="text" [(ngModel)]="email" placeholder="Search any field..."/>

  <div class="row">
    <div class="table-responsive-md">
      <table class="table table-hover">
          <thead class="thead-light">
            <tr>
                <th *ngFor="let col of columns">{{col}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of orders | ordersFilter:email" (click)="openOrderDetails(o, details)">
                <td *ngFor="let col of columns">{{o[col]}}</td>
                
            </tr>
          </tbody>
        </table>
    </div>
  </div>
    <h1></h1>
    <button class="btn btn-primary" routerLink="/orders">Back</button>
</div> 

