<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Orders</h1>
      <p>Welcome to the Orders dashboard. From here, you'll be able to create a new order, view and edit existing orders.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Create order</h2>
        <p>Create an order with its associated client and products and save it to the database. </p>
        <p><a class="btn btn-secondary" routerLink="/add-order" role="button">Create &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>List of orders</h2>
        <p>View and edit orders. </p>
        <p><a class="btn btn-secondary" routerLink="/view-orders" role="button">View &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Deleted orders</h2>
        <p>View deleted orders. </p>
        <p><a class="btn btn-secondary" routerLink="/deleted-orders" role="button">View &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>