<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Orders</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Create order</h2>
        <p>Create an order with its associated client and products and save it to the database. </p>
        <p><a class="btn btn-secondary" routerLink="/add-order" role="button">Create &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>List of orders</h2>
        <p>View and modify orders. </p>
        <p><a class="btn btn-secondary" routerLink="/view-orders" role="button">View &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>