<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Users</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Create New User</h2>
          <p>Register a new user to the database. </p>
          <p><a class="btn btn-secondary" routerLink="/signup" role="button">Register &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>View Users</h2>
          <p>View users in the database. </p>
          <p><a class="btn btn-secondary" routerLink="/view-users" role="button">View &raquo;</a></p>
        </div>
      </div>
      <hr>
  
    </div> <!-- /container -->
  
  </main>