<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Analysis and Reports</h1>
      <p class="lead">Welcome to the Analyisis and Reports dashboard.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Product analysis</h2>
        <p>Create and download a report of a product. </p>
        <p><a class="btn btn-secondary" routerLink="/analysis-product" role="button">Create &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Company analysis</h2>
        <p>Create and download a report of a company. </p>
        <p><a class="btn btn-secondary" routerLink="/analysis-company" role="button">View &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Employee analysis</h2>
        <p>Create and download a report of an employee. </p>
        <p><a class="btn btn-secondary" routerLink="/analysis-employee" role="button">View &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>