<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Products</h1>
      <p>Welcome to the Products dashboard. From here, you'll be able to add a new product to the database, view and edit existing products. </p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Add New Product</h2>
        <p>Add a new product to the database. </p>
        <p><a class="btn btn-secondary" routerLink="/add-product" role="button">Add &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>View Products</h2>
        <p>View and modify products. </p>
        <p><a class="btn btn-secondary" routerLink="/view-products" role="button">View &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>