<div class="container">
    <div class="row">
        <h1 class="page-header">Products</h1>
    </div>
    <h4>Click on a row to edit a product</h4>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Product Details</h4>
          <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form ngNativeValidate (submit)="onSubmit()">
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="name">Product Name</label>
                    <input class="form-control" type="text" [(ngModel)]="selectedProduct.Name" name="name" id="name" placeholder="name" required>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" [(ngModel)]="selectedProduct.Description" name="description" id="description" placeholder="description">
                  </div>
                </div> 
                <div class="form-row">
                   <div class="form-group col-md-6">
                      <label for="size">Size</label>
                      <input class="form-control" type="text" [(ngModel)]="selectedProduct.Size" name="size" id="size" placeholder="size" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="image">Image</label>
                        <input type="file" id="image" (change)="onChange($event)" [(ngModel)]="image" accept=".png, .jpg, .jpeg" name="image">           
                      </div>
                  </div>
                  
                <button class="btn btn-success mb-2" type="button" (click)="onConfirm()">Update</button>
                <div *ngIf="user.Type=='Admin'">
                  <button class="btn btn-danger mb-2" (click)="confirmDelete(delete)">Delete Product</button>
                </div>
                <div *ngIf="confirm">
                    <h1></h1>      
                    <p>Do you want to confirm this changes?</p>
                    <button type="submit" class="btn btn-success mb-2 mr-2">Yes</button>
                    <button type="button" class="btn btn-danger mb-2 mr-2" (click)="unconfirm()">No</button>
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary mb-2 mr-2" (click)="close()">Close</button>
        </div>
      </ng-template>

      <ng-template #delete let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Delete Product</h4>
          <button type="button" class="close" aria-label="Close" (click)="closeDelete()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h1></h1>
          <div *ngIf="!auth0">
              <div class="row">
                <p>Please enter your password</p>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <input type="password" class="form-control" [(ngModel)]="adminPass" name="adminPass" id="adminPass">
                </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn-outline-primary ml-2" (click)="authDelete()">Submit</button>
                </div>
                 
              </div>
              <div *ngIf="errorMsg">
                <div class="row">
                  <p> {{errorMsg}} </p>
                </div>
              </div>
            </div>
            <div *ngIf="auth0">
            <p>Are you sure you want to delete this Product? Changes cannot be undone.</p>
            <button type="button" class="btn btn-success mb-2 mr-2" (click)="onDelete()">Yes</button>
            <button type="button" class="btn btn-danger mb-2 mr-2" (click)="closeDelete()">No</button>
            </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary mb-2 mr-2" (click)="closeDelete()">Close</button>
        </div>
      </ng-template>

      <ng-template #imagemodal let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Product Image</h4>
          <button type="button" class="close" aria-label="Close" (click)="closeImage()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <div class="container">
           <div class="row">
             <img src= {{selectedProduct.URL}} style="width: 100%; height : auto">
           </div>
         </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary mb-2 mr-2" (click)="closeImage()">Close</button>
        </div>
      </ng-template>

      <div class="row mb-4">
        <div class="col-md-4">
          <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-search"></i>
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Search any field..." [(ngModel)]="email" name="email">
        </div>
        </div>
      </div>
      
    <div class="row">
        
      <div class="table-responsive-md">
        <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                  <th *ngFor="let col of columns">{{col}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of products | productsFilter:email">
                  <td *ngFor="let col of columns" (click)="onClick(p,content)">{{p[col]}}</td>
                  <button class="btn btn-warning mb-2" (click)="openImage(p, imagemodal)">View Image</button>  
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <button class="btn btn-info mt-2" (click)="downloadReport()">Download As Excel</button>
    <h1></h1>
    <button class="btn btn-primary" routerLink="/products">Back</button>

   </div>
